
    <section class="section__searchresult">
      <div class="filter">
        <div class="filterAndCat">
          <input type="button" class="btn__filter" value="Filter" />
          <select name="bookCat" class="selectBookCat">
            <option value="mostreviewed">Most Reviewed</option>
            <option value="mostrecent">Most Recent</option>
          </select>
        </div>
        <form action="#">
          <!--  -->
          <div class="filterBox">
            <h3 class="heading__filter">Avg. Customer Review</h3>
            <!--  -->
            <div class="form__rowFilter">
              <input type="radio" name="rating" id="ratingFilter" />
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>& above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="radio" name="rating" id="ratingFilter" />
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>& above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="radio" name="rating" id="ratingFilter" />
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>& above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="radio" name="rating" id="ratingFilter" />
              <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <span>& above</span>
            </div>
          </div>
          <!--  -->
          <div class="filterBox">
            <h3 class="heading__filter">Book Language</h3>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="englishLan" id="languageFilter" />
              <span>English</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="urduLan" id="languageFilter" />
              <span>Urdu</span>
            </div>
          </div>
          <!--  -->
          <div class="filterBox">
            <h3 class="heading__filter">No of pages</h3>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="sixHunAbv" id="pageFilter" />
              <span>600 & above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="fourHunAbv" id="pageFilter" />
              <span>400 & above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="twoHunAbv" id="pageFilter" />
              <span>200 & above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="oneHunAbv" id="pageFilter" />
              <span>100 & above</span>
            </div>
            <!--  -->
            <div class="form__rowFilter">
              <input type="checkbox" name="fiftyAbv" id="pageFilter" />
              <span>50 & above</span>
            </div>
          </div>
        </form>
      </div>
      <div class="searchBox">
        <ul class="booklist">
          <!-- book 1 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <a href="./bookProfile.html">
                <img src="./../../img/Facebook-Cover-Photo-Size.png" alt=""
              /></a>
            </div>
            <div class="searchBox__name">
              <h2>Philp and Alexander: King and conquerore</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="./userProfile.html">Adrian Goldsworthy</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="./publisherLandingPage.html">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>Philp and Alexander: King and conquerore</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
          <!-- book 2 -->
          <li class="booklist__item">
            <div class="searchBox__coverimg">
              <img src="./../../img/Facebook-Cover-Photo-Size.png" alt="" />
            </div>
            <div class="searchBox__name">
              <h2>The 4-Hour Work Week</h2>
              <div class="searchBox__name--author">
                <span>Author: <a href="#">Timothy Ferriss</a></span>
              </div>
              <div class="searchBox__name--publisher">
                <span>Publisher: <a href="#">Howa</a></span>
              </div>
              <div class="searchBox__name--publicationDate">
                <span>Publication date: Oct 27, 2020</span>
              </div>
              <div class="searchBox__name--rating">
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star ratingChecked" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <span>(32)</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
   