<form class="form" id="form">
    <div class="heading">
        <h1 class="heading__main">Log Into Your Account</h1>
    </div>
    <div class="form__row">
        <label for="email" class="form__label">Email Address</label>
        <input name="email" type="email" class="form__input" placeholder="you@gmail.com" id="email" required />
    </div>
    <div class="form__row">
        <label for="password" class="form__label">Password</label>
        <input name="password" type="password" class="form__input" placeholder="Your Password" id="password" required />
    </div>
    <div class="form__row">
        <!-- <input type="submit" class="form__btn--submit" value="Login" /> -->
        <input class="form__btn--submit" style="text-decoration: none; display: block; text-align: center; font-size: 16px" value="Login" type="submit" />
        <!-- <a href="./signup.html" class="btn__signup">SignUp</a> -->
    </div>

    <div class="form__row">
        <a href="./forgetPassword.html" class="form__link--forgetpswd">Forgot password?</a>
    </div>
</form>